<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>born1.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,84},{34,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,15},{34,26}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>born2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{40,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,14},{40,30}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>born3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{48,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{48,36}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>born4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{54,42}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>born.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2094756ff4598b668515ca5fc917aeba$</string>
            <key>textureFileName</key>
            <string>born.png</string>
        </dict>
    </dict>
</plist>
